@tailwind preflight;

@tailwind components;

@tailwind utilities;

.mobileMenu{
  border-radius: 50%;
  height: 50px;
  width: 50px;

}

a:link{
  color:blue
}



.nav{
  position:absolute;
  opacity: 0.1;
  /* background: transparent; */

}

.layout{
  /* opacity: 0.1; */
  position:absolute;
  width:100%;
  height:100px;
  /* background: transparent; */

  background: rgba(204, 204, 204, 0);
}
.canvas {
  position:absolute;
  height:100%; width:100%;
}

